body{
    background: #f2f0ed;
    height: 50vh;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}

.smp-dark{
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-bottom: 12rem;
    font-family: monospace;
}
.sms-cl{
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-bottom: 0;
    margin-bottom: 3rem;
}

.heading{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

.cl-dash{
    text-align:left;
    color: 	#707d8f;
    font-style: oblique;
    font-size: 2rem;
    margin:0;
    padding-right: 4rem;
}

.menu{
    padding-left: 7rem;
    padding-right: 7rem;
}

li{
    font-size: 7rem;
    display:inline; 
    border-color: rgba(0, 0, 0, 0.216);
}

li:hover a:hover{
    background-color: rgba(26, 68, 68, 0.797);
    color: white;
}

li a{
    text-decoration: none;
    color: 	#707d8f;
    border-radius: 60px;
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 1rem;
    letter-spacing: 1px;
  }

.table-cl{
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}

.table thead{
    border: 2px solid rgb(140 140 140);
    
}

table, th,
td {
  border: 2px solid rgb(160 160 160);
    border-right: hidden;
    border-left: hidden;
  padding: 8px 4rem;
  text-align: center;
}

.addDialog{
    display: flex;
}

.addDialog p{
    font-size: 2rem;
}

input{
    border-radius: 6px;
    padding-bottom: 1px;
}

#marksheet{
    border: 0;
    border-radius: 2em;
    box-shadow:#707d8f;
}